html, body, div, iframe {
            -webkit-text-size-adjust: 100%;
    		margin:0;
    		padding:0;
    		height:100%;
    		}
iframe {
    		display:block;
    		width:100%;
    		border:none;
    		}

